# ==========================================================
# TARGET_DEVICE
# ==========================================================
CONFIG_DEFAULT_default-settings-chn=n
CONFIG_PACKAGE_default-settings-chn=n
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic_DEVICE_jdcloud_re-cp-03=y
CONFIG_TARGET_mediatek_mt7986=y
CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a53"
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_PROFILE="DEVICE_jdcloud_re-cp-03"

# ==========================================================
# DEV_TOOLS
# ==========================================================
CONFIG_DEVEL=y
CONFIG_INCLUDE_CONFIG=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_TOOLCHAINOPTS=y

# ==========================================================
# SECURITY
# ==========================================================
CONFIG_AFALG_UPDATE_CTR_IV=y
CONFIG_OPENSSL_WITH_NPN=y
CONFIG_PKG_FORTIFY_SOURCE_2=y

# ==========================================================
# KERNEL
# ==========================================================
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_DEVMEM=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_PERF_EVENTS=y

# ==========================================================
# SYSTEM & BASE PACKAGES
# ==========================================================
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_netifd=y
CONFIG_PACKAGE_procd-ujail=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-attendedsysupgrade=y

# ==========================================================
# BusyBox
# ==========================================================
CONFIG_BUSYBOX_CONFIG_BLKID=y
CONFIG_BUSYBOX_CONFIG_FEATURE_BLKID_TYPE=y
CONFIG_BUSYBOX_CONFIG_VOLUMEID=y
CONFIG_BUSYBOX_CUSTOM=y

# ==========================================================
# MediaTek_MT7986_WiFi
# ==========================================================
CONFIG_CONNINFRA_AUTO_UP=y
CONFIG_CONNINFRA_EMI_SUPPORT=y
CONFIG_MTK_ACK_CTS_TIMEOUT_SUPPORT=y
CONFIG_MTK_AIR_MONITOR=y
CONFIG_MTK_AMPDU_CONF_SUPPORT=y
CONFIG_MTK_ANTENNA_CONTROL_SUPPORT=y
CONFIG_MTK_APCLI_SUPPORT=y
CONFIG_MTK_ATE_SUPPORT=y
CONFIG_MTK_BACKGROUND_SCAN_SUPPORT=y
CONFIG_MTK_CAL_BIN_FILE_SUPPORT=y
CONFIG_MTK_CFG_SUPPORT_FALCON_MURU=y
CONFIG_MTK_CFG_SUPPORT_FALCON_PP=y
CONFIG_MTK_CFG_SUPPORT_FALCON_SR=y
CONFIG_MTK_CFG_SUPPORT_FALCON_TXCMD_DBG=y
CONFIG_MTK_CHIP_MT7986=y
CONFIG_MTK_CONNINFRA_APSOC=y
CONFIG_MTK_CONNINFRA_APSOC_MT7986=y
CONFIG_MTK_CON_WPS_SUPPORT=y
CONFIG_MTK_DBDC_MODE=y
CONFIG_MTK_DOT11_HE_AX=y
CONFIG_MTK_DOT11_N_SUPPORT=y
CONFIG_MTK_DOT11_VHT_AC=y
CONFIG_MTK_DOT11K_RRM_SUPPORT=y
CONFIG_MTK_DOT11R_FT_SUPPORT=y
CONFIG_MTK_DOT11W_PMF_SUPPORT=y
CONFIG_MTK_FAST_NAT_SUPPORT=y
CONFIG_MTK_FIRST_IF_EEPROM_FLASH=y
CONFIG_MTK_FIRST_IF_IPAILNA=y
CONFIG_MTK_FIRST_IF_MT7986=y
CONFIG_MTK_G_BAND_256QAM_SUPPORT=y
CONFIG_MTK_GREENAP_SUPPORT=y
CONFIG_MTK_HDR_TRANS_RX_SUPPORT=y
CONFIG_MTK_HDR_TRANS_TX_SUPPORT=y
CONFIG_MTK_ICAP_SUPPORT=y
CONFIG_MTK_IGMP_SNOOP_SUPPORT=y
CONFIG_MTK_INTERWORKING=y
CONFIG_MTK_MAP_R2_6E_SUPPORT=y
CONFIG_MTK_MAP_R2_VER_SUPPORT=y
CONFIG_MTK_MAP_R3_6E_SUPPORT=y
CONFIG_MTK_MAP_R3_VER_SUPPORT=y
CONFIG_MTK_MAP_SUPPORT=y
CONFIG_MTK_MBO_SUPPORT=y
CONFIG_MTK_MBSS_DTIM_SUPPORT=y
CONFIG_MTK_MBSS_SUPPORT=y
CONFIG_MTK_MCAST_RATE_SPECIFIC=y
CONFIG_MTK_MGMT_TXPWR_CTRL=y
CONFIG_MTK_MLME_MULTI_QUEUE_SUPPORT=y
CONFIG_MTK_MT7986_NEW_FW=y
CONFIG_MTK_MT_AP_SUPPORT=m
CONFIG_MTK_MT_DFS_SUPPORT=y
CONFIG_MTK_MT_MAC=y
CONFIG_MTK_MT_WIFI=m
CONFIG_MTK_MT_WIFI_PATH="mt_wifi"
CONFIG_MTK_MUMIMO_SUPPORT=y
CONFIG_MTK_MU_RA_SUPPORT=y
CONFIG_MTK_OFFCHANNEL_SCAN_FEATURE=y
CONFIG_MTK_OWE_SUPPORT=y
CONFIG_MTK_PHY_ICS_SUPPORT=y
CONFIG_MTK_QOS_R1_SUPPORT=y
CONFIG_MTK_RA_PHY_RATE_SUPPORT=y
CONFIG_MTK_RED_SUPPORT=y
CONFIG_MTK_RTMP_FLASH_SUPPORT=y
CONFIG_MTK_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MTK_RT_FIRST_IF_RF_OFFSET=0xc0000
CONFIG_MTK_SCS_FW_OFFLOAD=y
CONFIG_MTK_SECOND_IF_NONE=y
CONFIG_MTK_SMART_CARRIER_SENSE_SUPPORT=y
CONFIG_MTK_SPECTRUM_SUPPORT=y
CONFIG_MTK_SUPPORT_OPENWRT=y
CONFIG_MTK_THERMAL_PROTECT_SUPPORT=y
CONFIG_MTK_THIRD_IF_NONE=y
CONFIG_MTK_TPC_SUPPORT=y
CONFIG_MTK_TXBF_SUPPORT=y
CONFIG_MTK_UAPSD=y
CONFIG_MTK_VLAN_SUPPORT=y
CONFIG_MTK_VOW_SUPPORT=y
CONFIG_MTK_WARP_V2=y
CONFIG_MTK_WDS_SUPPORT=y
CONFIG_MTK_WHNAT_SUPPORT=m
CONFIG_MTK_WIFI_ADIE_TYPE="mt7976"
CONFIG_MTK_WIFI_BASIC_FUNC=y
CONFIG_MTK_WIFI_DRIVER=y
CONFIG_MTK_WIFI_EAP_FEATURE=y
CONFIG_MTK_WIFI_FW_BIN_LOAD=y
CONFIG_MTK_WIFI_MODE_AP=m
CONFIG_MTK_WIFI_MT_MAC=y
CONFIG_MTK_WIFI_SKU_TYPE="AX6000"
CONFIG_MTK_WIFI_TWT_SUPPORT=y
CONFIG_MTK_WLAN_HOOK=y
CONFIG_MTK_WLAN_SERVICE=y
CONFIG_MTK_WNM_SUPPORT=y
CONFIG_MTK_WPA3_SUPPORT=y
CONFIG_MTK_WSC_INCLUDED=y
CONFIG_MTK_WSC_V2_SUPPORT=y
CONFIG_WARP_CHIPSET="mt7986"
CONFIG_WARP_DBG_SUPPORT=y
CONFIG_WARP_MEMORY_LEAK_DBG=y
CONFIG_WARP_NEW_FW=y
CONFIG_WARP_VERSION=2
CONFIG_WED_HW_RRO_SUPPORT=y
CONFIG_first_card=y
CONFIG_first_card_name="MT7986"

# ==========================================================
# CONTAINERD
# ==========================================================
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_STO_BTRFS=n
CONFIG_DOCKER_STO_EXT4=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_containerd=y
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_podman=n
CONFIG_PACKAGE_runc=y
CONFIG_PACKAGE_tini=y

# ==========================================================
# STORAGE, DISK & FILESYSTEM UTILITIES
# ==========================================================
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_btrfs-progs=n
CONFIG_PACKAGE_cfdisk=n
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_f2fsck=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fuse=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-fs-overlayfs=y
CONFIG_PACKAGE_lsof=n
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_mmc-utils=n
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_partx-utils=n
CONFIG_PACKAGE_swap-utils=n
CONFIG_PACKAGE_ubi-utils=y
CONFIG_PARTED_READLINE=y
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-ata-core=n
CONFIG_PACKAGE_sgdisk=n
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_losetup=y

# ==========================================================
# CLI UTILITIES & NETWORKING
# ==========================================================
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_jq=y

# Replace standard dnsmasq with dnsmasq-full
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_dnsmasq_full_nftset=y

# ==========================================================
# NETWORK
# ==========================================================
# Firewall4 (nftables-based firewall)
CONFIG_PACKAGE_firewall4=y
CONFIG_PACKAGE_nftables=y
CONFIG_PACKAGE_kmod-button-hotplug=y
CONFIG_PACKAGE_kmod-nft-offload=y
CONFIG_PACKAGE_logd=y

# DDNS
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-aliyun=n
CONFIG_PACKAGE_ddns-scripts-cloudflare=n
CONFIG_PACKAGE_ddns-scripts-cnkuai=n
CONFIG_PACKAGE_ddns-scripts-digitalocean=n
CONFIG_PACKAGE_ddns-scripts-dnspod=n
CONFIG_PACKAGE_ddns-scripts-dnspod-com=n
CONFIG_PACKAGE_ddns-scripts-freedns=n
CONFIG_PACKAGE_ddns-scripts-gandi=n
CONFIG_PACKAGE_ddns-scripts-godaddy=n
CONFIG_PACKAGE_ddns-scripts-noip=y
CONFIG_PACKAGE_ddns-scripts-nsupdate=y
CONFIG_PACKAGE_ddns-scripts-route53=n
CONFIG_PACKAGE_luci-app-ddns=y

# ==========================================================
# ADGUARDHOME & PBR
# ==========================================================
# AdGuard Home
CONFIG_PACKAGE_adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-i18n-adguardhome-zh-cn=n

# Policy Based Routing (PBR)
CONFIG_PACKAGE_pbr=y
CONFIG_PACKAGE_luci-app-pbr=y
CONFIG_PACKAGE_luci-i18n-pbr-zh-cn=n
CONFIG_PACKAGE_pbr-iptables=n

# VPN
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-ipsec-vpnserver-manyusers=n
CONFIG_PACKAGE_luci-app-openvpn-server=n
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-app-vlmcsd=n

# NET_MANAGER
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-turboacc-mtk=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-msd_lite=n
CONFIG_PACKAGE_luci-app-eqos-mtk=y
CONFIG_PACKAGE_luci-app-lucky=n
CONFIG_PACKAGE_luci-app-mtwifi-cfg=y
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_etherwake=n
CONFIG_PACKAGE_luci-app-wolplus=n
CONFIG_PACKAGE_luci-app-netdata=n
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_sqm-scripts=n
CONFIG_PACKAGE_luci-app-ntpc=n

# NET_TOOLS
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_mtr=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_tc-mod-iptables=y
CONFIG_PACKAGE_tc-tiny=n
CONFIG_PACKAGE_uclient-fetch=y
CONFIG_PACKAGE_resolveip=y

# ==========================================================
# FIREWALL
# ==========================================================
CONFIG_PACKAGE_ebtables=n
CONFIG_PACKAGE_ip-bridge=n
CONFIG_PACKAGE_ip6tables-extra=n
CONFIG_PACKAGE_ip6tables-nft=n
CONFIG_PACKAGE_ipset=n
CONFIG_PACKAGE_iptables-mod-conntrack-extra=n
CONFIG_PACKAGE_iptables-mod-extra=n
CONFIG_PACKAGE_iptables-mod-filter=n
CONFIG_PACKAGE_iptables-mod-hashlimit=n
CONFIG_PACKAGE_iptables-mod-iface=n
CONFIG_PACKAGE_iptables-mod-ipmark=n
CONFIG_PACKAGE_iptables-mod-ipopt=n
CONFIG_PACKAGE_iptables-mod-iprange=n
CONFIG_PACKAGE_iptables-mod-ipv4options=n
CONFIG_PACKAGE_iptables-mod-nat-extra=n
CONFIG_PACKAGE_iptables-mod-proto=n
CONFIG_PACKAGE_iptables-mod-tee=n
CONFIG_PACKAGE_iptables-mod-tproxy=n
CONFIG_PACKAGE_iptables-mod-u32=n
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ebtables=n
CONFIG_PACKAGE_kmod-ebtables-ipv4=n
CONFIG_PACKAGE_kmod-ebtables-ipv6=n
CONFIG_PACKAGE_kmod-ifb=n
CONFIG_PACKAGE_kmod-ip6tables-extra=n
CONFIG_PACKAGE_kmod-ipt-compat-xtables=n
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=n
CONFIG_PACKAGE_kmod-ipt-extra=n
CONFIG_PACKAGE_kmod-ipt-filter=n
CONFIG_PACKAGE_kmod-ipt-hashlimit=n
CONFIG_PACKAGE_kmod-ipt-iface=n
CONFIG_PACKAGE_kmod-ipt-ipmark=n
CONFIG_PACKAGE_kmod-ipt-ipopt=n
CONFIG_PACKAGE_kmod-ipt-iprange=n
CONFIG_PACKAGE_kmod-ipt-ipv4options=n
CONFIG_PACKAGE_kmod-ipt-nat-extra=n
CONFIG_PACKAGE_kmod-ipt-offload=n
CONFIG_PACKAGE_kmod-ipt-proto=n
CONFIG_PACKAGE_kmod-ipt-raw6=n
CONFIG_PACKAGE_kmod-ipt-tee=n
CONFIG_PACKAGE_kmod-ipt-tproxy=n
CONFIG_PACKAGE_kmod-ipt-fullconenat=n
CONFIG_PACKAGE_kmod-ipt-u32=n
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nf-ipvs=n
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_luci-app-firewall=y

# ==========================================================
# Liber
# ==========================================================
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_coremark=n
CONFIG_PACKAGE_datconf=n
CONFIG_PACKAGE_datconf-lua=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-conninfra=n
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-crypto-cmac=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-md4=n
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-sha512=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-lib-crc32c=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-mediatek_hnat=y
CONFIG_PACKAGE_kmod-mt_wifi=y
CONFIG_PACKAGE_kmod-sched-core=n
CONFIG_PACKAGE_kmod-tcp-bbr=n
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-warp=n
CONFIG_PACKAGE_kmod-zram=n
CONFIG_PACKAGE_kvcedit=n
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libcap-ng=n
CONFIG_PACKAGE_libcbor=n
CONFIG_PACKAGE_libevdev=y
CONFIG_PACKAGE_libfido2=n
CONFIG_PACKAGE_libipset=n
CONFIG_PACKAGE_libkvcutil=n
CONFIG_PACKAGE_libncurses=n
CONFIG_PACKAGE_libnl=n
CONFIG_PACKAGE_libnl-core=n
CONFIG_PACKAGE_libnl-genl=n
CONFIG_PACKAGE_libnl-nf=n
CONFIG_PACKAGE_libnl-route=n
CONFIG_PACKAGE_libopenssl-afalg_sync=n
CONFIG_PACKAGE_libopenssl-devcrypto=n
CONFIG_PACKAGE_libpcap=n
CONFIG_PACKAGE_libstdcpp=n
CONFIG_PACKAGE_libudev-zero=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_luci-i18n-mtwifi-cfg-zh-cn=n
CONFIG_PACKAGE_luci-i18n-turboacc-mtk-zh-cn=n
CONFIG_PACKAGE_lua-cjson=n
CONFIG_PACKAGE_mii_mgr=n
CONFIG_PACKAGE_mtk-smp=y
CONFIG_PACKAGE_mtkhqos_util=y
CONFIG_PACKAGE_nano=n
CONFIG_PACKAGE_openssh-keygen=n
CONFIG_PACKAGE_openssh-sftp-server=n
CONFIG_PACKAGE_openssl-util=n
CONFIG_PACKAGE_qrencode=n
CONFIG_PACKAGE_regs=n
CONFIG_PACKAGE_switch=n
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_vim-fuller=n
CONFIG_PACKAGE_wifi-dats=n
CONFIG_PACKAGE_mtwifi-cfg=y
CONFIG_PACKAGE_wifi-scripts=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_wireless-tools=n
CONFIG_PACKAGE_zram-swap=n
CONFIG_PACKAGE_zsh=n
CONFIG_PACKAGE_luci-app-statistics=n
CONFIG_PACKAGE_collectd-mod-cpu=n
CONFIG_PACKAGE_collectd-mod-memory=n
CONFIG_PACKAGE_collectd-mod-interface=n
CONFIG_PACKAGE_luci-app-crontab=y
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-log=y
# Disable the LuCI app and its underlying daemon
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_ttyd=n

# ==========================================================
# LuCI_THEME
# ==========================================================
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-app-argon-config=n
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=n
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
CONFIG_PACKAGE_luci-theme-design=y

# Forcefully disable automatic zh-cn translation packages
CONFIG_PACKAGE_luci-i18n-attendedsysupgrade-zh-cn=n
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=n
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=n
CONFIG_PACKAGE_luci-i18n-eqos-mtk-zh-cn=n
CONFIG_PACKAGE_luci-i18n-mtwifi-cfg-zh-cn=n
CONFIG_PACKAGE_luci-i18n-pbr-zh-cn=n
CONFIG_PACKAGE_luci-i18n-turboacc-mtk-zh-cn=n

# ==========================================================
# Other
# ==========================================================
CONFIG_PACKAGE_kmod-leds-ws2812b=n
CONFIG_MTD_BLOCK2MTD=y

# CONFIG_GDB is not set
# CONFIG_KERNEL_BLK_DEV_THROTTLING is not set
# CONFIG_KERNEL_CFS_BANDWIDTH is not set
# CONFIG_KERNEL_KEYS is not set
# CONFIG_KERNEL_MEMCG_SWAP is not set
# CONFIG_OPENSSL_ENGINE_BUILTIN is not set
# CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set

# CONFIG_PACKAGE_swconfig=n
# CONFIG_PKG_CHECK_FORMAT_SECURITY is not set
# CONFIG_PKG_FORTIFY_SOURCE_1 is not set
# CONFIG_WOLFSSL_HAS_ECC25519 is not set
# CONFIG_AFALG_FALLBACK is not set
# CONFIG_MTK_BAND_STEERING is not set
# CONFIG_MTK_DEFAULT_5G_PROFILE is not set
# CONFIG_MTK_MAC_REPEATER_SUPPORT is not set
# CONFIG_MTK_MULTI_PROFILE_SUPPORT is not set
# CONFIG_MTK_PCIE_ASPM_DYM_CTRL_SUPPORT is not set
# CONFIG_MTK_PRE_CAL_TRX_SET1_SUPPORT is not set
# CONFIG_MTK_PRE_CAL_TRX_SET2_SUPPORT is not set
# CONFIG_MTK_RLM_CAL_CACHE_SUPPORT is not set
# CONFIG_MTK_SNIFFER_RADIOTAP_SUPPORT is not set

# ==========================================================
# EXPLICITLY DISABLED IMMORTALWRT PACKAGES
# ==========================================================
CONFIG_LUCI_LANG_zh_Hans=n
CONFIG_LUCI_LANG_zh-cn=n
# CONFIG_LUCI_LANG_zh_Hans is not set
# CONFIG_LUCI_LANG_zh-cn is not set
# CONFIG_PACKAGE_aardvark-dns is not set
# CONFIG_PACKAGE_bind-client is not set
# CONFIG_PACKAGE_bind-libs is not set
# CONFIG_PACKAGE_catatonit is not set
# CONFIG_PACKAGE_chinadns-ng is not set
# CONFIG_PACKAGE_collectd is not set
# CONFIG_PACKAGE_collectd-mod-iwinfo is not set
# CONFIG_PACKAGE_collectd-mod-load is not set
# CONFIG_PACKAGE_collectd-mod-network is not set
# CONFIG_PACKAGE_collectd-mod-rrdtool is not set
# CONFIG_PACKAGE_conmon is not set
# CONFIG_PACKAGE_coreutils is not set
# CONFIG_PACKAGE_coreutils-base64 is not set
# CONFIG_PACKAGE_coreutils-nohup is not set
# CONFIG_PACKAGE_crun is not set
# CONFIG_PACKAGE_dns2socks is not set
# CONFIG_PACKAGE_podman is not set
# CONFIG_PACKAGE_dosfstools is not set
# CONFIG_PACKAGE_ebtables-legacy is not set
# CONFIG_PACKAGE_ebtables-legacy-utils is not set
# CONFIG_PACKAGE_exfat-fsck is not set
# CONFIG_PACKAGE_exfat-mkfs is not set
# CONFIG_PACKAGE_geoview is not set
# CONFIG_PACKAGE_giflib-utils is not set
# CONFIG_PACKAGE_glib2 is not set
# CONFIG_PACKAGE_haproxy is not set
# CONFIG_PACKAGE_iptables-nft is not set
# CONFIG_PACKAGE_kmod-cryptodev is not set
# CONFIG_PACKAGE_kmod-dax is not set
# CONFIG_PACKAGE_kmod-nft-compat is not set
# CONFIG_PACKAGE_kmod-nls-cp932 is not set
# CONFIG_PACKAGE_kmod-nls-cp936 is not set
# CONFIG_PACKAGE_kmod-nls-cp950 is not set
# CONFIG_PACKAGE_kmod-sched-cake is not set
# CONFIG_PACKAGE_libassuan is not set
# CONFIG_PACKAGE_libattr is not set
# CONFIG_PACKAGE_libev is not set
# CONFIG_PACKAGE_libffi is not set
# CONFIG_PACKAGE_libgcrypt is not set
# CONFIG_PACKAGE_libgpg-error is not set
# CONFIG_PACKAGE_libgpgme is not set
# CONFIG_PACKAGE_libiperf3 is not set
# CONFIG_PACKAGE_libiptext is not set
# CONFIG_PACKAGE_libiptext-nft is not set
# CONFIG_PACKAGE_libiptext6 is not set
# CONFIG_PACKAGE_libltdl is not set
# CONFIG_PACKAGE_liblua5.3 is not set
# CONFIG_PACKAGE_liblz4 is not set
# CONFIG_PACKAGE_liblzo is not set
# CONFIG_PACKAGE_libminiupnpc is not set
# CONFIG_PACKAGE_libnatpmp is not set
# CONFIG_PACKAGE_libparted is not set
# CONFIG_PACKAGE_libpcre2 is not set
# CONFIG_PACKAGE_libpopt is not set
# CONFIG_PACKAGE_libreadline is not set
# CONFIG_PACKAGE_librrd1 is not set
# CONFIG_PACKAGE_libseccomp is not set
# CONFIG_PACKAGE_libslirp is not set
# CONFIG_PACKAGE_libtirpc is not set
# CONFIG_PACKAGE_libuci-lua is not set
# CONFIG_PACKAGE_liburcu is not set
# CONFIG_PACKAGE_libxtables is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk is not set
# CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-commands-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-ddns-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-diskman-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-eqos-mtk-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-msd_lite-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-netdata-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-nlbwmon-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-passwall-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-sqm-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-statistics-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-upnp-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-wol-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-wrtbwmon-zh-cn is not set
# CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn is not set
# CONFIG_PACKAGE_luci-lib-chartjs is not set
# CONFIG_PACKAGE_luci-lib-docker is not set
# CONFIG_PACKAGE_microsocks is not set
# CONFIG_PACKAGE_miniupnpd-nftables is not set
# CONFIG_PACKAGE_msd_lite is not set
# CONFIG_PACKAGE_netavark is not set
# CONFIG_PACKAGE_netdata is not set
# CONFIG_PACKAGE_nlbwmon is not set
# CONFIG_PACKAGE_nsenter is not set
# CONFIG_PACKAGE_openvpn-easy-rsa is not set
# CONFIG_PACKAGE_openvpn-openssl is not set
# CONFIG_PACKAGE_protobuf is not set
# CONFIG_PACKAGE_protobuf-lite is not set
# CONFIG_PACKAGE_rrdtool1 is not set
# CONFIG_PACKAGE_shadowsocks-rust-sslocal is not set
# CONFIG_PACKAGE_shadowsocks-rust-ssserver is not set
# CONFIG_PACKAGE_simple-obfs-client is not set
# CONFIG_PACKAGE_sing-box is not set
# CONFIG_PACKAGE_slirp4netns is not set
# CONFIG_PACKAGE_smartmontools is not set
# CONFIG_PACKAGE_unzip is not set
# CONFIG_PACKAGE_v2ray-plugin is not set
# CONFIG_PACKAGE_vim-runtime is not set
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_wget-ssl is not set
# CONFIG_PACKAGE_wrtbwmon is not set
# CONFIG_PACKAGE_xray-core is not set
# CONFIG_PACKAGE_xtables-nft is not set
# CONFIG_PACKAGE_zerotier is not set
# CONFIG_PACKAGE_zoneinfo-core is not set
# CONFIG_PACKAGE_zoneinfo-simple` is not set

# Remove ttyd and its LuCI interface
# CONFIG_PACKAGE_luci-app-ttyd is not set
# CONFIG_PACKAGE_ttyd is not set

# Disable USB Kernel Modules
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb-ehci is not set
# CONFIG_PACKAGE_kmod-usb-xhci-hcd is not set
# CONFIG_PACKAGE_kmod-usb-xhci-mtk is not set
# CONFIG_PACKAGE_kmod-usb-net is not set
# CONFIG_PACKAGE_kmod-usb-net-cdc-ether is not set
# CONFIG_PACKAGE_kmod-usb-net-rndis is not set
# CONFIG_PACKAGE_kmod-usb-storage is not set
# CONFIG_PACKAGE_kmod-usb-storage-extras is not set
# CONFIG_PACKAGE_kmod-usb-storage-uas is not set

# Disable USB User-space Utilities
# CONFIG_PACKAGE_usbutils is not set
# CONFIG_PACKAGE_usbids is not set
# CONFIG_PACKAGE_automount is not set
